sudo: required
services:
  - docker
language: bash
cache:
  directories:
    - /cache
env:
  - IMAGE_NAME=dnsmasq
  - IMAGE_NAME=frpc
  - IMAGE_NAME=frps
  # Split nginx build to speed up
  - IMAGE_NAME=nginx      IMAGE_ARCH=amd64
  - IMAGE_NAME=nginx      IMAGE_ARCH=arm32v7
  - IMAGE_NAME=nginx      IMAGE_ARCH=arm64v8
  - IMAGE_NAME=nyancat
  - IMAGE_NAME=php7-fpm
  - IMAGE_NAME=route-next
  - IMAGE_NAME=plus1s
  - IMAGE_NAME=whois42d

install:
  - docker run --rm --privileged multiarch/qemu-user-static:register --reset
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - |
    if [ -e $HOME/docker-cache/$DOCKER_USERNAME-$IMAGE_NAME-$THIS_ARCH.tar.gz ]; then
      docker load -i $HOME/docker-cache/$DOCKER_USERNAME-$IMAGE_NAME-$THIS_ARCH.tar.gz
    fi

script:
  - cd $IMAGE_NAME
  - |
    if [ ! $IMAGE_ARCH ]; then
      IMAGE_ARCH=$(ls -1 Dockerfile.* | cut -d'.' -f2)
    fi
  - |
    for THIS_ARCH in $IMAGE_ARCH
    do
      travis_wait 60 docker build -t $DOCKER_USERNAME/$IMAGE_NAME:$THIS_ARCH -f Dockerfile.$THIS_ARCH .
      docker tag $DOCKER_USERNAME/$IMAGE_NAME:$THIS_ARCH $DOCKER_USERNAME/$IMAGE_NAME:$THIS_ARCH-build$TRAVIS_BUILD_NUMBER
      if [ $THIS_ARCH = "amd64" ]; then
        docker tag $DOCKER_USERNAME/$IMAGE_NAME:$THIS_ARCH $DOCKER_USERNAME/$IMAGE_NAME:latest
        docker tag $DOCKER_USERNAME/$IMAGE_NAME:$THIS_ARCH $DOCKER_USERNAME/$IMAGE_NAME:build$TRAVIS_BUILD_NUMBER
      fi
      docker save $DOCKER_USERNAME/$IMAGE_NAME:$THIS_ARCH | gzip -c > $HOME/docker-cache/$DOCKER_USERNAME-$IMAGE_NAME-$THIS_ARCH.tar.gz
    done
  - docker push $DOCKER_USERNAME/$IMAGE_NAME