sudo: required
services:
  - docker
language: bash
env:
  # - IMAGE_NAME=dnsmasq
  # - IMAGE_NAME=frpc
  # - IMAGE_NAME=frps

  # Split nginx build to speed up
  # - IMAGE_NAME=nginx      IMAGE_ARCH=amd64
  # - IMAGE_NAME=nginx      IMAGE_ARCH=arm32v7
  # - IMAGE_NAME=nginx      IMAGE_ARCH=arm64v8

  # - IMAGE_NAME=nyancat
  # - IMAGE_NAME=php7-fpm
  # - IMAGE_NAME=route-next
  # - IMAGE_NAME=plus1s
  # - IMAGE_NAME=whois42d
  # - IMAGE_NAME=zabbix-agent
  # - IMAGE_NAME=quassel

install:
  - docker run --rm --privileged multiarch/qemu-user-static:register --reset
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

script:
  - |
    # A list of default architectures that will be built
    if [ ! "$IMAGE_ARCH" ]; then IMAGE_ARCH="i386 amd64 arm32v7 arm64v8"; fi

    for THIS_ARCH in ${IMAGE_ARCH}; do
      # Translate to alternative arch names used in multiarch images
      if [ "$THIS_ARCH" == "amd64"   ]; then THIS_ARCH_ALT=amd64  ; fi
      if [ "$THIS_ARCH" == "i386"    ]; then THIS_ARCH_ALT=i386   ; fi
      if [ "$THIS_ARCH" == "arm32v7" ]; then THIS_ARCH_ALT=armhf  ; fi
      if [ "$THIS_ARCH" == "arm64v8" ]; then THIS_ARCH_ALT=aarch64; fi

      # Translate to alternative arch names used in golang
      if [ "$THIS_ARCH" == "amd64"   ]; then THIS_ARCH_GO=amd64; fi
      if [ "$THIS_ARCH" == "i386"    ]; then THIS_ARCH_GO=386  ; fi
      if [ "$THIS_ARCH" == "arm32v7" ]; then THIS_ARCH_GO=arm  ; fi
      if [ "$THIS_ARCH" == "arm64v8" ]; then THIS_ARCH_GO=arm64; fi

      # Build image
      travis_wait 60 docker build -t $DOCKER_USERNAME/$IMAGE_NAME:$THIS_ARCH \
        --build-arg THIS_ARCH=$THIS_ARCH \
        --build-arg THIS_ARCH_ALT=$THIS_ARCH_ALT \
        --build-arg THIS_ARCH_GO=$THIS_ARCH_GO \
        $IMAGE_NAME

      # Tag image :{arch} and :{arch}-build{build number}
      docker tag $DOCKER_USERNAME/$IMAGE_NAME:$THIS_ARCH $DOCKER_USERNAME/$IMAGE_NAME:$THIS_ARCH-build$TRAVIS_BUILD_NUMBER
      if [ "$THIS_ARCH" = "amd64" ]; then
        # Tag as latest for amd64 images
        docker tag $DOCKER_USERNAME/$IMAGE_NAME:$THIS_ARCH $DOCKER_USERNAME/$IMAGE_NAME:latest
        docker tag $DOCKER_USERNAME/$IMAGE_NAME:$THIS_ARCH $DOCKER_USERNAME/$IMAGE_NAME:build$TRAVIS_BUILD_NUMBER
      fi
    done
  - docker push $DOCKER_USERNAME/$IMAGE_NAME
